<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <div><i class="fa fa-bars"></i></div>
      <div class="profile">
        <img
          src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1214428300?k=20&m=1214428300&s=612x612&w=0&h=MOvSM2M1l_beQ4UzfSU2pfv4sRjm0zkpeBtIV-P71JE="
          width="40px"
          height="40px"
        />
        <span onclick="out()" style="cursor: pointer">Sign Out</span>
      </div>
    </div>
  </body>
</html>

<script>
  function out() {
    window.location.href = "/";
  }
</script>
