<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/font.css" />
    <link rel="stylesheet" href="../styles/admin.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="main">
      <%-include("adminsidemenu.ejs")-%>
      <div class="right_div">
        <%-include("adminnavbar.ejs")-%>
        <div class="container">
          <h2>Add Product</h2>
          <div class="add_product">
            <form>
              <label>Product Name</label>
              <input type="text" id="name" />

              <label>Product Price</label>
              <input type="text" id="price" />
              <label>Product Category</label>
              <input type="text" id="category" />
              <label>Image one</label>
              <input type="text" id="image1" />
              <label>Image two</label>
              <input type="text" id="image2" />
              <label>Product Type</label>
              <select name="product" id="type">
                <option>Men</option>
                <option>women</option>
                <option>Accessories</option>
              </select>
              <input
                type="button"
                value="Add product"
                onclick="addProduct()"
                style="
                  background: blue;
                  color: #fff;
                  border: none;
                  margin-top: 10px;
                "
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  // Function to create database

  async function addProduct() {
    var image1 = document.getElementById("image1").value;
    var image2 = document.getElementById("image2").value;
    let data = {
      name: document.getElementById("name").value,
      price: document.getElementById("price").value,
      images: [image1, image2],
      category: document.getElementById("category").value,
      type: document.getElementById("type").value,
    };

    if (
      image1 == "" ||
      image2 == "" ||
      data.name == "" ||
      data.price == "" ||
      data.category == "" ||
      data.type == ""
    ) {
      alert("fill all inputs");
    } else {
      data = JSON.stringify(data);
      console.log("data", data);

      let response = await fetch("/products", {
        method: "POST",
        body: data,
        headers: {
          "Content-Type": "application/json",
        },
      });
      let d = await response.json();
      console.log("d", d);
      if (d.message != undefined) {
        console.log(d.message);
        alert(d.message);
      } else {
        alert("Product added successfully");
      }
    }
  }
</script>
