<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/Slide.css" />
    <link rel="stylesheet" href="/styles/midpage.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>
      Theory Official Site | Contemporary Clothing for Women and Men
    </title>
    <link
      rel="shortcut icon"
      href="https://www.theory.com/on/demandware.static/Sites-theory2_US-Site/-/default/dw580c9d16/images/favicons/favicon2.ico"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
  </head>
  <body>
    <%- include("navbar.ejs" , {bags}) -%>
    <!--Silder -->
    <!-- <div id="offernav">
       
        <div id="discount">
            <i class="fas fa-chevron-right" style="color: white;"></i>
                    </div>

        <a href="./pages/womenproducts.html" id="shopwomen">SHOP WOMEN</a>
        <a href="#" id="shopmen">SHOP MEN</a>
    </div> -->

    <div class="slider">
      <div class="slider-div">
        <video width="102%" height="100%" loop autoplay muted>
          <source src="videos/women.mp4" />
        </video>

        <div>
          <h2>THE TREECA</h2>
          <p>
            Our bestselling, <br />desk-to-dinner icon that <br />elevates your
            every day.
          </p>
          <a href="./pages/menproducts.html">SHOP THE TREECA PANT</a>
        </div>
      </div>
      <div class="slider-div">
        <video width="102%" height="100%" loop autoplay muted>
          <source src="videos/men.mp4" />
        </video>
        <div>
          <h2>THE ZAINE</h2>
          <p>
            The bestselling pant in <br />Precision Ponte—our most<br />
            comfortable fabric innovation<br />
            that always looks sharp.
          </p>
          <a href="./pages/menproducts.html">SHOP THE ZAINE PANT</a>
        </div>
      </div>
    </div>

    <div class="imgpants">
      <img
        src="https://ak-media.theory.com/i/theory/0204-SUBHERO?$defaultMedia$"
      />
      <div class="imgpants--child">
        <h2>PANTS</h2>
        <h2>WITH PURPOSE</h2>
        <p>Maximum comfort,ultimate polish.</p>
      </div>
      <div class="imgpants--links">
        <a href="">THE WOMEN'S PANT SHOP</a>
        <a href="">THE MEN'S PANT SHOP</a>
      </div>
    </div>
    <!--MAiN PART -->
    <div>
      <!-- <div class="smallbox0">
        <div class="smallbox1">Shop The Look</div>
        <div class="smallbox2">
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-gtl-01?$TH-hp2xHeroMV1$"
              alt=""
            />
            <div class="smallbox2hover">SHOP THE LOOK</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-gtl-02?$TH-hp2xHeroMV1$"
              alt=""
            />
            <div class="smallbox2hover">SHOP THE LOOK</div>
          </div>
        </div>
      </div> -->
      <div class="smallbox0">
        <div class="smallbox1">Shop Women</div>
        <div class="smallbox3">
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208womens?$defaultMedia$"
              alt=""
            />
            <div>WOMEN</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208new?$defaultMedia$"
              alt=""
            />
            <div>NEW ARRIVALS</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208outerwear?$defaultMedia$"
              alt=""
            />
            <div>OUTERWEAR</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208sweaters?$defaultMedia$"
              alt=""
            />
            <div>SWEATERS</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208pants?$defaultMedia$"
              alt=""
            />
            <div>PANTS</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208sale?$defaultMedia$"
              alt=""
            />
            <div>SALE</div>
          </div>
        </div>
      </div>
      <div class="smallbox0">
        <div class="smallbox1">Shop Men</div>
        <div class="smallbox3">
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208mens?$defaultMedia$"
              alt=""
            />
            <div>MEN</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208mens-new?$defaultMedia$"
              alt=""
            />
            <div>NEW ARRIVALS</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208mens-outerwear?$defaultMedia$"
              alt=""
            />
            <div>OUTERWEAR</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208mens-sweater?$defaultMedia$"
              alt=""
            />
            <div>SWEATERS</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208mens-pants?$defaultMedia$"
              alt=""
            />
            <div>PANTS</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/1208mens-sale?$defaultMedia$"
              alt=""
            />
            <div>SALE</div>
          </div>
        </div>
      </div>
      <div class="smallbox0">
        <div class="smallbox1">Women's Blazers + Jackets</div>
        <div class="smallbox2">
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-b+j-mask1?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">SHOP BLAZERS + JACKETS</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-b+j-mask2?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">SHOP BLAZERS + JACKETS</div>
          </div>
        </div>
        <p>Elevate your winter wardrobe with smart and sleek layers.</p>
      </div>
      <div class="smallbox0">
        <div class="smallbox1">Men's Precision Ponte</div>
        <div class="smallbox2">
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-pp-mask1?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">SHOP PRECISION PONTE</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-pp-mask2?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">SHOP PRECISION PONTE</div>
          </div>
        </div>
        <p>
          Our most comfortable fabric innovation to date, Precision Ponte is
          your solution to looking sharp and feeing good every day of the week.
        </p>
      </div>

      <div class="smallbox0">
        <div class="smallbox1">Women's Essential Duos</div>
        <div class="smallbox2 silder2">
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-duo-mask1v3?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">SHOP ESSENTIAL DUOS</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-duo-mask2?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">SHOP KARENIA SWEATER</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-duo-mask3new?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">SHOP KARENIA SWEATER</div>
          </div>
        </div>
        <p>
          Our most iconic pieces, available for better value when purchased two
          at a time.
        </p>
      </div>
      <div class="smallbox0">
        <div class="smallbox1">Men's Essential Trios</div>
        <div class="smallbox2 silder2 mens">
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-trio-mask1?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">SHOP ESSENTIAL TRIOS</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-trio-mask2?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">SHOP ZAINE PANTS</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-trio-mask3?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">SHOP ZAINE PANTS</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0104-hp-trio-mask4?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">SHOP ZAINE PANTS</div>
          </div>
        </div>
        <p>
          Optimize your wardrobe with our bestselling pieces, available for a
          better value when purchased three at a time.
        </p>
      </div>
      <div class="smallbox0">
        <div class="smallbox1">The Theory App</div>
        <div class="smallbox2 silder2">
          <div>
            <img
              class="sliderhover"
              src="https://ak-media.theory.com/i/theory/0817-hp-app-mask?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">DISCOVER MORE</div>
          </div>
          <div>
            <img
              class="sliderhover"
              src="https://ak-media.theory.com/i/theory/0817-hp-app-mask-02?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">DISCOVER MORE</div>
          </div>
          <div>
            <img
              class="sliderhover"
              src="https://ak-media.theory.com/i/theory/0817-hp-app-mask-02?$defaultMedia$"
              alt=""
            />
            <div class="smallbox2hover">DISCOVER MORE</div>
          </div>
        </div>
      </div>
      <div class="smallbox0">
        <div class="smallbox1">Shop The Look</div>
        <div class="smallbox2 silder2">
          <div>
            <img
              class="sliderhover"
              src="https://ak-media.theory.com/i/theory/0211-hp-gtl-02?$TH-hp2xHeroMV1$"
              alt=""
            />
            <div class="smallbox2hover">SHOP THE LOOK</div>
          </div>
          <div>
            <img
              class="sliderhover"
              src="https://ak-media.theory.com/i/theory/0211-hp-gtl-03?$TH-hp2xHeroMV1$"
              alt=""
            />
            <div class="smallbox2hover">SHOP THE LOOK</div>
          </div>
          <div>
            <img
              src="https://ak-media.theory.com/i/theory/0211-hp-gtl-04?$TH-hp2xHeroMV1$"
              alt=""
            />
            <div class="smallbox2hover">SHOP THE LOOK</div>
          </div>
        </div>
      </div>
      <div class="smallbox0">
        <div class="smallbox1">Journal</div>
        <div id="smallbox2Journal">
          <div>
            <div>
              <img
                src="https://ak-media.theory.com/i/theory/_Day_02_1881@3x?$hp2xHeroMV1$"
                alt=""
              />
            </div>
            <div>
              <div class="smallbox2JournalHearder">Fashion Makes Changes</div>
              <p class="smallbox2JournalPara">
                Join the movement. Round up your purchase total to support the
                livelihoods of women in fashion's global supply chain.
              </p>
            </div>
          </div>
          <div>
            <div>
              <img
                src="https://ak-media.theory.com/i/theory/BE_HEARD_EDITORIAL_THE_CUT_LP_HERO@3x?$defaultMedia$"
                alt=""
              />
            </div>
            <div>
              <div class="smallbox2JournalHearder">BE HEARD</div>
              <p class="smallbox2JournalPara">
                Our Be Heard leadership series celebrates the entrepreneurial
                spirit through conversations with innovators,changemakers, and
                founders.
              </p>
            </div>
          </div>
          <div>
            <div>
              <img
                src="https://ak-media.theory.com/i/theory/20200201_THEORYXGIRLUP_0081_bw@3x?$hp2xHeroMV1$"
                alt=""
              />
            </div>
            <div>
              <div class="smallbox2JournalHearder">GIRL UP X THEORY</div>
              <p class="smallbox2JournalPara">
                We are proud to support the next generation of women through our
                continued partnership with the United Nations Foundation
                initiative.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--FOOTER PART-->
    <%- include("footer.ejs") -%>
  </body>
</html>

<script type="text/javascript" src="./scripts/header.js"></script>

<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-1.11.0.min.js"
></script>
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<script>
  let check = true;
  function shownav() {
    let leftSide = document.querySelector(".header--left");
    if (check) {
      leftSide.classList.add("res__header--left");
    } else {
      leftSide.classList.remove("res__header--left");
    }
    check = !check;
  }

  $(document).ready(function () {
    $(".slider").slick({
      autoplay: true,
      autoplaySpeed: 5000,
      infinite: true,
      prevArrow: '<button class="slide-arrow prev-arrow"></button>',
      nextArrow: '<button class="slide-arrow next-arrow"></button>',
    });

    $(".silder2").slick({
      slidesToShow: 2,
      slidesToScroll: 1,
      speed: 900,
      prevArrow: '<button class="slide-arrow prev-arrow"></button>',
      nextArrow: '<button class="slide-arrow next-arrow"></button>',
    });
  });
</script>
