<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/Slide.css" />
    <link rel="stylesheet" href="/styles/midpage.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>
      Theory Official Site | Contemporary Clothing for Women and Men
    </title>
    <link
      rel="shortcut icon"
      href="https://www.theory.com/on/demandware.static/Sites-theory2_US-Site/-/default/dw580c9d16/images/favicons/favicon2.ico"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
  </head>
  <body>
    <!--NAVBAR -->
    <div id="navbar">
      <div class="header--navbar">Free Shopping To India On All Orders</div>
      <div class="Main--navbar">
        <div class="header--left">
          <div id="bar" onclick="shownav()">
            <img
              src="https://www.theory.com/on/demandware.static/Sites-theory2_US-Site/-/default/images/icons/reorder.svg"
              alt=""
            />
          </div>
          <ul>
            <li class="nav-hover nav-women">
              <a href="/womenpage">Women</a>
              <div class="hover women_hover">
                <div class="hover--navbar">
                  <div>
                    <h3>New + Now</h3>
                    <ul>
                      <li>
                        <a href="/womenproducts">New Arrivals</a>
                      </li>
                      <li>
                        <a href="/womenproducts">Bestsellers</a>
                      </li>
                      <li>
                        <a href="/womenproducts">Pant Theory</a>
                      </li>
                      <li>
                        <a href="/womenproducts">Cashmere Shop</a>
                      </li>
                      <li>
                        <a href="/womenproducts">Sweaters + Outerwear</a>
                      </li>
                      <li>
                        <a href="/womenproducts">The New 9 To 5</a>
                      </li>
                      <li>
                        <a href="/womenproducts">Theory For Good</a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h3>Clothing</h3>
                    <ul>
                      <li><a href="/womenproducts">View All</a></li>
                      <li>
                        <a href="/womenproducts">Pants & Shorts</a>
                      </li>
                      <li>
                        <a href="/womenproducts">Blazers & Jackets</a>
                      </li>
                      <li>
                        <a href="/womenproducts">Dresses & Jumpsuits</a>
                      </li>
                      <li>
                        <a href="/womenproducts">Loungewear</a>
                      </li>
                      <li>
                        <a href="/womenproducts">Outerwear</a>
                      </li>
                      <li><a href="/womenproducts">Sweaters</a></li>
                      <li><a href="/womenproducts">Skirts</a></li>
                      <li><a href="/womenproducts">Suits</a></li>
                      <li><a href="/womenproducts">T-Shirts</a></li>
                      <li><a href="/womenproducts">Tops</a></li>
                    </ul>
                  </div>
                  <div>
                    <h3>Accessories</h3>
                    <ul>
                      <li><a href="/womenproducts">Shoes</a></li>
                      <li><a href="/womenproducts">Bags</a></li>
                      <li>
                        <a href="/womenproducts">Gloves, Hats & Scarves</a>
                      </li>
                      <li><a href="/womenproducts">Belts</a></li>
                    </ul>
                  </div>
                  <div>
                    <h3>Sales</h3>
                    <ul>
                      <li><a href="/womenproducts">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <img
                      src="https://cdn.media.amplience.net/i/theory/2.4_PANTS_FOT_W"
                      width="200px"
                    />
                    <h4>Style Reset</h4>
                    <a href="">Shop Now</a>
                  </div>
                  <div>
                    <img
                      src="https://cdn.media.amplience.net/i/theory/2.4_W_BLAZERS_FOT"
                      width="200px"
                    />
                    <h4>Essential Trios</h4>
                    <a href="">Shop Now</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-hover">
              <a href="/menpage">Men</a>
              <div class="hover men_hover">
                <div class="hover--navbar">
                  <div>
                    <h3>New + Now</h3>
                    <ul>
                      <li>
                        <a href="/menproducts">New Arrivals</a>
                      </li>
                      <li>
                        <a href="/menproducts">Bestsellers</a>
                      </li>
                      <li>
                        <a href="/menproducts">Precision Ponte</a>
                      </li>
                      <li>
                        <a href="/menproducts">Pant Theory</a>
                      </li>
                      <li>
                        <a href="/menproducts">Sweaters + Outerwear</a>
                      </li>
                      <li><a href="/menproducts">Cashmere</a></li>
                      <li>
                        <a href="/menproducts">The New 9 To 5</a>
                      </li>
                      <li>
                        <a href="/menproducts">Theory For Good</a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h3>Clothing</h3>
                    <ul>
                      <li><a href="/menproducts">View All</a></li>
                      <li>
                        <a href="/menproducts">Pants & Shorts</a>
                      </li>
                      <li>
                        <a href="/menproducts">Blazers & Jackets</a>
                      </li>
                      <li><a href="/menproducts">Loungewear</a></li>
                      <li><a href="/menproducts">Outerwear</a></li>
                      <li><a href="/menproducts">Shirts</a></li>
                      <li><a href="/menproducts">Suits</a></li>
                      <li><a href="/menproducts">Sweaters</a></li>
                      <li>
                        <a href="/menproducts">Sweatshirts & Hoodies</a>
                      </li>
                      <li>
                        <a href="/menproducts">T-Shirts & Polos</a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h3>Accessories</h3>
                    <ul>
                      <li><a href="/menproducts">View All</a></li>
                    </ul>
                  </div>
                  <div>
                    <h3>Sales</h3>
                  </div>
                  <div>
                    <img
                      src="https://cdn.media.amplience.net/i/theory/2.4_PANTS_FOT_M"
                      width="200px"
                    />
                    <h4>Style Reset</h4>
                    <a href="/menproducts">Shop Now</a>
                  </div>
                  <div>
                    <img
                      src="https://cdn.media.amplience.net/i/theory/2.4_PP_FOT"
                      width="200px"
                    />
                    <h4>Essential Trios</h4>
                    <a href="">Shop Now</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-hover">
              <a href="/accesories">Accessories</a>
              <div class="hover accessories_hover">
                <div class="hover--navbar">
                  <div>
                    <h3>Women</h3>
                    <ul>
                      <li>
                        <a href="/accessoriesProducts">View All</a>
                      </li>
                      <li>
                        <a href="/accessoriesProducts">Shoes</a>
                      </li>
                      <li><a href="">Bags</a></li>
                      <li><a href="">Gloves, Hats & Scarves</a></li>
                      <li><a href="">Belts</a></li>
                    </ul>
                  </div>
                  <div>
                    <h3>Men</h3>
                    <ul>
                      <li>View All</li>
                    </ul>
                  </div>
                  <div>
                    <img
                      src="https://cdn.media.amplience.net/i/theory/2.4_ACCESSORIES_FOT_1"
                      width="200px"
                    />
                    <h4>Laced Lug Boot</h4>
                    <a href="">Shop Now</a>
                  </div>
                  <div>
                    <img
                      src="https://cdn.media.amplience.net/i/theory/2.4_ACCESSORIES_FOT_2"
                      width="200px"
                    />
                    <h4>Gloves, Hats & Scarves</h4>
                    <a href="">Shop Now</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-hover">
              <a href="/about">About Theory</a>
              <div class="hover about_hover">
                <div class="hover--navbar">
                  <div>
                    <h3>About Theory</h3>
                    <ul>
                      <li><a href="/about">Story</a></li>
                      <li><a href="/about">Philosophy</a></li>
                      <li><a href="/about">Services</a></li>
                      <li><a href="/about">Stores</a></li>
                      <li><a href="/about">The Theory App</a></li>
                    </ul>
                  </div>

                  <div>
                    <img
                      src="https://i1.adis.ws/i/theory/04-Nav-GOOD"
                      width="200px"
                    />
                    <h4>Theory For Good</h4>
                    <a href="">Read More</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="header--center">
          <a href="/"
            ><img
              src="https://www.theory.com/on/demandware.static/Sites-theory2_US-Site/-/default/dw1327afc4/images/logo.png"
              width="170px"
          /></a>
        </div>
        <div class="header--right">
          <ul>
            <li>
              <div class="header--ship">
                <span>Shipping To</span>
                <img
                  src="https://www.theory.com/on/demandware.static/Sites-theory2_US-Site/-/default/v1645529192070/fonts/flags/4x3/in.svg"
                  width="18px"
                />
              </div>
            </li>
            <li>
              <div class="header--serach">
                <input type="text" id="Search" placeholder="Search" />
                <img
                  src="https://www.theory.com/on/demandware.static/Sites-theory2_US-Site/-/default/images/icons/search.svg"
                  width="15px"
                  height="16px"
                  onclick="searchData()"
                />
              </div>
            </li>
            <li>
              <a href="">Stores</a>
            </li>
            <li id="s">
              <a href="/login">Sign In</a>
            </li>
            <li>
              <div class="header--cart">
                <span class="cart-count"><%=bags.length%></span>
                <a href="/cart"
                  ><img
                    src="https://www.theory.com/on/demandware.static/Sites-theory2_US-Site/-/default/images/icons/minicart.svg"
                /></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function searchData() {
    let search = document.querySelector("#Search").value;
    console.log(search);
    window.location.href = `/searchresult/?search=${search}`;
  }
</script>
