<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="product-filter">
      <p><%= type %></p>
      <div class="short_line"></div>
      <div class="filter-div">
        <div class="filter-head">
          <p>New + Now</p>
          <i class="fa fa-angle-down"></i>
        </div>
        <div class="filter-option">
          <ul>
            <li>New Arrivals</li>
            <li>Bestsellers</li>
            <li>Pant Theory</li>
            <li>Cashmere Shop</li>
            <li>Sweaters + Outerwear</li>
            <li>The New 9 To 5</li>
            <li>Theory For Good</li>
          </ul>
        </div>
      </div>
      <div class="filter-div">
        <div class="filter-head">
          <p>Clothing</p>
          <i class="fa fa-angle-down"></i>
        </div>
        <div class="filter-option">
          <ul>
            <li>View All</li>
            <li>Pants & Shorts</li>
            <li>Blazers & Jackets</li>
            <li>Dresses & Jumpsuits</li>
            <li>Loungewear</li>
            <li>Outerwear</li>
            <li>Sweaters</li>
            <li>Skirts</li>
            <li>Suits</li>
            <li>T-Shirts</li>
            <li>Tops</li>
          </ul>
        </div>
      </div>
      <div class="filter-div">
        <div class="filter-head">
          <p>Accessories</p>
          <i class="fa fa-angle-down"></i>
        </div>

        <div class="filter-option">
          <ul>
            <li>Shoes</li>
            <li>Bags</li>
            <li>Gloves, Hats & Scarves</li>
            <li>Belts</li>
          </ul>
        </div>
      </div>
      <div class="filter-div">
        <div class="filter-head">
          <p>Sale</p>
          <i class="fa fa-angle-down"></i>
        </div>

        <div class="filter-option">
          <ul>
            <li>View All</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
